<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/people">Characters</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/planets">Planets <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="/startships">Starships<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/vehicles">Vehicles <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link"routerLink="/species">Species <span class="sr-only">(current)</span></a>
                </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" name="filterFilm" aria-label="Search" [(ngModel)]="filterFilms">
      </form>
    </div>
  </nav>
<div>
  <div class="jumbotron">
    <!--<h2 class="display-4">App of Star Wars!</h2>-->
    <!--<p class="lead">Wellcome to the fun!!!</p>  -->
    <!--<hr class="my-4">-->    
    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
    <div>
      <img src="/assets/images/star_wars.gif" alt="" class="home">
    </div>
    <!--<p>You will find related information of all movies, characters, spaceships, species and vehicles of Star Wars. We hope you learn a lot</p> -->
  </div>
</div>

<section id="films">  
  <div class="container">   
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let film of films.results | filter:filterFilms">
        <div class="card_book">            
            <div class="card text-white bg-dark mb-3" style="max-width:100%">
              <div class="card-body">
                    <!--<img src="/assets/imagFilms/Films1.jpg" alt="" class="Films">
                    <img src="/assets/imagFilms/Films2.jpg" alt="" class="Films">-->
                    <div [ngSwitch]="film.title" >
                      <p *ngSwitchCase="'A New Hope'"><img src="/assets/imagFilms/Films1.jpg" alt="" class="films"></p>
                      <p *ngSwitchCase="'Attack of the Clones'"><img src="/assets/imagFilms/Films2.jpg" alt="" class="films"></p>
                      <p *ngSwitchCase="'The Phantom Menace'"><img src="/assets/imagFilms/Films3.jpg" alt="" class="films"></p>
                      <p *ngSwitchCase="'Revenge of the Sith'"><img src="/assets/imagFilms/Films4.jpg" alt="" class="films"></p>
                      <p *ngSwitchCase="'Return of the Jedi'"><img src="/assets/imagFilms/Films5.jpg" alt="" class="films"></p>
                      <p *ngSwitchCase="'The Empire Strikes Back'"><img src="/assets/imagFilms/Films6.jpg" alt="" class="films"></p>
                      <p *ngSwitchCase="'The Force Awakens'"><img src="/assets/imagFilms/Films7.jpg" alt="" class="films"></p>
                    </div>
                  <h4 class="card-title">{{film.title}}</h4>                                   
                 <!-- <p class="card-text">
                   {{film.opening_crawl}}
                  </p>-->
                  <a routerLink="/films/{{film.episode_id}}" class="btn btn-primary">Ver descripción</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

