/* You can add global styles to this file, and also import other style files */

img.home {width: 1050px; height: 200px;} 
img.personajes {width: 1050px; height: 300px;} 
img.planetas {width: 1050px; height: 350px; } 
img.naves {width: 1050px; height: 300px; } 
img.especies {width: 1050px; height: 300px; } 
img.vehiculos {width: 1050px; height: 300px; } 
img.films {width: 250px; height: 250px; } 
p.descripcion {width: 1050px; height: 300px; }
