<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/people">Characters</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/planets">Planets <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="/startships">Starships<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/vehicles">Vehicles <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link"routerLink="/species">Species <span class="sr-only">(current)</span></a>
                </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" name="filterStartships" aria-label="Search" [(ngModel)]="filterStartships">
      </form>
    </div>
  </nav>

<div class="jumbotron">
  <!--
    <h2 class="display-4">App of Star Wars!</h2>
    <p class="lead">Wellcome to the fun!!!</p>  
    <hr class="my-4">
    <p>Here you will find all the models of the galactic ships, enjoy it</p>   
    -->  
    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
    <div>
        <img src="/assets/images/naves.png" alt="" class="naves">
    </div>
  </div>

<section id="films">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let starShip of starShips.results | filterStartships:filterStartships">
          <div class="card_book">
              <div class="card text-white bg-dark mb-3" style="max-width:100%">
                <div class="card-body">
                  <div [ngSwitch]="starShip.name">
                    <p *ngSwitchCase="'Executor'"><img src='/assets/img/startships/executor.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'Sentinel-class landing craft'"><img src='/assets/img/startships/landing_craft.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'Death Star'"><img src='/assets/img/startships/Death_Star.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'Millennium Falcon'"><img src='/assets/img/startships/Millennium-Falcon.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'Y-wing'"><img src='/assets/img/startships/Y-wing.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'X-wing'"><img src='/assets/img/startships/X-wing.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'TIE Advanced x1'"><img src='/assets/img/startships/TIE_Advanced.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'Slave 1'"><img src='/assets/img/startships/Slave.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'Imperial shuttle'"><img src='/assets/img/startships/Imperial_shuttle.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'EF76 Nebulon-B escort frigate'"><img src='/assets/img/startships/escort_frigate.jpg'alt="" class="films"></p>
                   </div>   
                    <h4 class="card-title">Name: {{starShip.name}}</h4>
                    <p class="card-text"><b>Model: </b>{{starShip.model}}</p>
                    <p class="card-text"><b>Starship class: </b>{{starShip.starship_class}}</p>
                    <p class="card-text"><b>Cargo capacity: </b>{{starShip.cargo_capacity}}</p>
                    <p class="card-text"><b>MGLT: </b>{{starShip.MGLT}}</p>
                    <p class="card-text"><b>Cost in credits</b>{{starShip.cost_in_credits}}</p>
                    <p class="card-text"><b>Length: </b>{{starShip.length}}</p>
                    <p class="card-text"><b>Manufacturer: </b>{{starShip.manufacturer}}</p>
                    <p class="card-text"><b>Max atmosphering speed: </b>{{starShip.max_atmosphering_speed}}</p>
                    <p class="card-text"><b>Passengers: </b>{{starShip.passengers}}</p>                    
                    <!--<a routerLink="/films/{{film.episode_id}}" class="btn btn-primary">Ver mas</a>-->
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  