<div class="jumbotron">
    <h2 class="display-4">App of Star Wars!</h2>
    <p class="lead">Wellcome to the fun!!!</p>  
    <hr class="my-4">
    <p>Are you a Star Wars fan? We want to please you, this will be your place to meet</p> 
    <p>This is the summary information you want to know about the movie</p>
    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
  </div>
  
<section id="films">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" >
          <div class="card_book">
            <div class="card">
                <div class="card-body">                   
                    <h4>{{films.title}}</h4>
                    <p class="card-text">Producer: {{films.producer}}</p>
                    <p class="card-text">Director: {{films.director}}</p>
                    <p class="card-text">Release Date: {{films.release_date}}</p>
                    <p class="card-text">Description: {{films.opening_crawl}}</p>
                  </div>
            </div>
          </div>
        </div> 
        <div class="card-body">
          <h4>Characters:</h4>
          <ol>
              <li>{{peopleFilms.name}} </li>
          </ol>
        </div>       
      </div>
    </div>
  </section>
  
  