<section id="films">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let fil of films.planets">
          <div class="card_book">
            <div class="card">
                <div class="card-body">
                    <p>
                      <img src="https://dummyimage.com/300x300/000/fff" alt="">
                    </p>
                    <p class="card-text">
                        {{film.title}}
                    </p>
                  </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  
  