<div class="jumbotron">
  <!--
    <h2 class="display-4">App of Star Wars!</h2>
    <p class="lead">Wellcome to the fun!!!</p>  
    <hr class="my-4">
    <p>It's not just ships, there are also vehicles in this universe, discover them</p>  
  -->   
    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->

    <div>
        <img src="/assets/images/vehiculos.jpg" alt="" class="vehiculos">
        <p>It's not just ships, there are also vehicles in this universe, discover them</p>  
      </div>
  </div>

<section id="films">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let vehicle of vehicles.results">
          <div class="card_book">
            <div class="card">
                <div class="card-body">
                  <div [ngSwitch]="vehicle.name">
                    <p *ngSwitchCase="'Sand Crawler'"><img src='/assets/img/vehiculos/Sand Crawler.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'T-16 skyhopper'"><img src='/assets/img/vehiculos/skyhopper.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'X-34 landspeeder'"><img src='/assets/img/vehiculos/landspeeder.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'TIE/LN starfighter'"><img src='/assets/img/vehiculos/starfighter.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'Snowspeeder'"><img src='/assets/img/vehiculos/Snowspeeder.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'TIE bomber'"><img src='/assets/img/vehiculos/TIE bomber.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'AT-AT'"><img src='/assets/img/vehiculos/AT-AT.png'alt="" class="films"></p>
                    <p *ngSwitchCase="'AT-ST'"><img src='/assets/img/vehiculos/AT-ST.jpg'alt="" class="films"></p>
                    <p *ngSwitchCase="'Storm IV Twin-Pod cloud car'"><img src='/assets/img/vehiculos/storm.png'alt="" class="films"></p>
                    <p *ngSwitchCase="'Sail barge'"><img src='/assets/img/vehiculos/Sail barge.jpg'alt="" class="films"></p>
                   </div>
                    <h4 class="card-title">Name: {{vehicle.name}}</h4>
                    <p class="card-text"><b>Vehicle class: </b>{{vehicle.vehicle_class}}</p>
                    <p class="card-text"><b>Passengers: </b>{{vehicle.passengers}}</p>
                    <p class="card-text"><b>Model: </b>{{vehicle.model}}</p>
                    <p class="card-text"><b>Max atmosphering speed: </b>{{vehicle.max_atmosphering_speed}}</p>
                    <p class="card-text"><b>Manufacturer: </b>{{vehicle.manufacturer}}</p>
                    <p class="card-text"><b>Length: </b>{{vehicle.length}}</p>
                    <p class="card-text"><b>Crew: </b>{{vehicle.crew}}</p>
                    <p class="card-text"><b>Consumables: </b>{{vehicle.consumables}}</p>
                    <p class="card-text"><b>Cargo capacity: </b>{{vehicle.cargo_capacity}}</p>
                    <!--<a routerLink="/films/{{film.episode_id}}" class="btn btn-primary">Ver mas</a>-->
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  