<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/people">Characters</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/planets">Planets <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="/startships">Starships<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/vehicles">Vehicles <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link"routerLink="/species">Species <span class="sr-only">(current)</span></a>
                </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" name="filterSpecies" aria-label="Search" [(ngModel)]="filterSpecies">
      </form>
    </div>
  </nav>

<div class="jumbotron">
  <!--
    <h2 class="display-4">App of Star Wars!</h2>
    <p class="lead">Wellcome to the fun!!!</p>  
    <hr class="my-4">
    <p class="descripcion">In the Star Wars universe we humans are not alone, there are also other races, other species, discover them.</p>     
   --> 
    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->

    <div>
        <img src="/assets/images/especies.jpg" alt="" class="especies">
      </div>

  </div>


<section id="films">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let specie of species.results | filterSpecies:filterSpecies">
          <div class="card_book">
              <div class="card text-white bg-dark mb-3" style="max-width:100%">
                <div class="card-body">
                    
                    <div [ngSwitch]="specie.name">
                        <p *ngSwitchCase="'Hutt'"><img src='/assets/img/species/Hutt.jpg'alt="" class="films"></p>
                        <p *ngSwitchCase="'Yoda\'s species'"><img src='/assets/img/species/Yodas_species.jpg'alt="" class="films"></p>
                        <p *ngSwitchCase="'Trandoshan'"><img src='/assets/img/species/Trandoshan.jpg'alt="" class="films"></p>
                        <p *ngSwitchCase="'Mon Calamari'"><img src='/assets/img/species/MonCalamari.jpg'alt="" class="films"></p>
                        <p *ngSwitchCase="'Ewok'"><img src='/assets/img/species/Ewok.jpg'alt="" class="films"></p>
                        <p *ngSwitchCase="'Sullustan'"><img src='/assets/img/species/Sullustan.jpg'alt="" class="films"></p>
                        <p *ngSwitchCase="'Neimodian'"><img src='/assets/img/species/Neimodian.jpg'alt="" class="films"></p>
                        <p *ngSwitchCase="'Gungan'"><img src='/assets/img/species/Gungan.jpg'alt="" class="films"></p>
                        <p *ngSwitchCase="'Toydarian'"><img src='/assets/img/species/Toydarian.jpg'alt="" class="films"></p>
                        <p *ngSwitchCase="'Dug'"><img src='/assets/img/species/Dug.jpg'alt="" class="films"></p>
                        <p *ngSwitchDefault>No es ningún estado conocido</p>
                    </div>
                    <h4 class="card-title"><b>Name: </b>{{specie.name}}</h4>
                    <p class="card-text"><b>Classification: </b>{{specie.classification}}</p>
                    <p class="card-text"><b>Language: </b>{{specie.language}}</p>
                    <p class="card-text"><b>Skin colors: </b>{{specie.skin_colors}}</p>
                    <p class="card-text"><b>Eye colors: </b>{{specie.eye_colors}}</p>
                    <p class="card-text"><b>Hair colors: </b>{{specie.hair_colors}}</p>
                    <p class="card-text"><b>Average lifespan: </b>{{specie.average_lifespan}}</p>
                    <p class="card-text"><b>Average height: </b>{{specie.average_height}}</p>
                    <p class="card-text"><b>Designation: </b>{{specie.designation}}</p>                  
                    <!--<a routerLink="/films/{{film.episode_id}}" class="btn btn-primary">Ver mas</a>-->
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  